{% extends 'layout.html' %}

{% block head %}
<title>Cart</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {
        $.each(userCart, function (index, name) {
            $("#result").append(name + " " + '<br>');
        });
    });
</script>
{% endblock %}

<!-- need to find out how to display cart while letting it + and - and clear -->

{% block body %}
<nav class="navbar navbar-dark bg-primary navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-home fa-lg"></span>
                        Home</a></li>
                <li class="nav-item dropdown"><a class=" nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                        href="profile"><span class="fa fa-user fa-lg"></span>
                        Profile</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/favourites">Favourites</a>
                        <a class="dropdown-item" href="/history">Purchase History</a>
                        <a class="dropdown-item" href="/tokens">Tokens</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/cart"><span class="fa fa-list fa-lg"></span>
                        Cart</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/logout"><span class="fa fa-sign-out fa-lg"></span>
                        Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>C</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active">Cart</li>
        </ol>
    </div>
    <h2>{{ user.name }}'s Cart</h2>
    <!-- {{userCart}} -->
    {%for i in userCart%}
    <li>{{i}}</li>
    {%endfor%}
    <a href=/payment><input class="btn btn-success" type=button value='Proceed to Payment'></a>


    <!-- <form class="form" autocomplete="off" spellcheck="false" action="/cart" method="POST">
        <label for="name">Search:</label>
        <input type="text" class="form-control" autofocus="autofocus" name="search">
        <input type="submit" value="Update cart!" />
    </form> -->

</div>
<br />
<div class="container">
    <form class="form-inline" autocomplete="off" spellcheck="false" action="/results" method="POST">
        <div class="form-group ">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Product" aria-label="Search">
            <input type="submit" class="btn btn-primary" value="Search!" />
        </div>
    </form>
</div>

<!-- <h2>{{ user.name }}'s Cart</h2>
<a href="/home"><input type=button value="Return Home"></a>
<a href="/profile"><input type="button" value="View/Edit Profile"></a>
<a href=/logout><input type=button value='Logout'></a>
<br>
<div id="result"></div>
<br>
{{userCart}}
<br>
<form class="form" autocomplete="off" spellcheck="false" action="/cart" method="POST">
    <label for="name">Search:</label>
    <input type="text" class="form-control" autofocus="autofocus" name="search">
    <input type="submit" value="Update cart!" />
</form>
<a href=/payment><input type=button value='To payment >'></a> -->

{% endblock %}