{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/login-register.css">
<title>Change Password</title>
{% endblock %}

{% block body %}

<form action='/change_password' method='POST'>
    <label for="password">Old Password</label>
    <input id="password" type="password" class="form-control" name="old_password" required autofocus>
    <label for="new_password">New Password</label>
    <input id="new_password" type="password" class="form-control" name="new_password" required autofocus>
    <label for="new_password_2">Re-enter New Password</label>
    <input id="new_password_2" type="password" class="form-control" name="new_password_2" required autofocus>
    <button type="submit" class="btn btn-primary btn-block" id="register">
        Register
    </button>
    {{text}}
</form>

{% endblock %}