{% extends 'layout.html' %}

{% block head %}
<title>Favourites</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-dark bg-primary navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-home fa-lg"></span>
                        Home</a></li>
                <li class="nav-item dropdown"><a class=" nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                        href="profile"><span class="fa fa-user fa-lg"></span>
                        Profile</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/favourites">Favourites</a>
                        <a class="dropdown-item" href="/history">Purchase History</a>
                        <a class="dropdown-item" href="/tokens">Tokens</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/cart"><span class="fa fa-list fa-lg"></span>
                        Cart</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/logout"><span class="fa fa-sign-out fa-lg"></span>
                        Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>C</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
            <li class="breadcrumb-item active">Favourites</li>
        </ol>
    </div>
    <h2>{{ user.name }}'s Favourites</h2>
    <h3><strong>Favourites</strong></h3>
    <form class="form" autocomplete="off" spellcheck="false" action="/favourites" method="POST">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="pop" {{value1}}>
            <label class="form-check-label">Pop</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="rock" {{value2}}>
            <label class="form-check-label">Rock</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="indie" {{value3}}>
            <label class="form-check-label">Indie</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="blues" {{value4}}>
            <label class="form-check-label">Blues</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="zoo" {{value5}}>
            <label class="form-check-label">Zoo</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="amusement_park" {{value6}}>
            <label class="form-check-label">Amusement Park</label>
        </div>

        <div class="form-group">
            <input class="btn btn-primary btn-block" type="submit" value="Save!" />
        </div>
    </form>
</div>

<!-- <form class="form" autocomplete="off" spellcheck="false" action="/favourites" method="POST">
    <label for="name">Pop:</label>
    <input type="checkbox" class="form-control" autofocus="autofocus" name="pop" {{value1}}><br>
    <label for="name">Rock:</label>
    <input type="checkbox" class="form-control" autofocus="autofocus" name="rock" {{value2}}><br>
    <label for="name">Indie:</label>
    <input type="checkbox" class="form-control" autofocus="autofocus" name="indie" {{value3}}><br>
    <label for="name">Blues:</label>
    <input type="checkbox" class="form-control" autofocus="autofocus" name="blues" {{value4}}><br>
    <label for="name">Zoo:</label>
    <input type="checkbox" class="form-control" autofocus="autofocus" name="zoo" {{value5}}><br>
    <label for="name">Amusement Parks:</label>
    <input type="checkbox" class="form-control" autofocus="autofocus" name="amusement_park" {{value6}}><br>
    <input type="submit" value="Save!" />
</form> -->
<h4>{{text}}</h4>
{% endblock %}