{% extends 'layout.html' %}

{% block head %}
    <title>History</title>
{% endblock %}

{% block body %}
    <h2>{{ user.name }}'s Purchase History</h2>
    <br>
    <a href="/home"><input type="button" value="Return Home"></a>
    <a href="/profile"><input type="button" value="Profile"></a>
    <a href="/favourites"><input type="button" value="Favourites"></a>
    <a href="/tokens"><input type="button" value="Tokens"></a>
    <a href="/logout"><input type="button" value="Logout"></a>
    <br>
    <h3><strong>History</strong></h3>
    <br>
        <table class="table table-hover" id="HistoryTable">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost (S$)</th>
            <th scope="col">DateTime</th>
        </tr>
        </thead>
        {% for row in range(len) %}
        <tr>
            <td class="c3">{{product[row]}}</td>
            <td class="c3">{{quantity[row]}}</td>
            <td class="c3">{{cost[row]}}</td>
            <td class="c3">{{datetime[row]}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}