{% extends 'layout.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h2>Welcome {{ user.name }}!</h2>
<h2>{{text}}</h2>
<br>
<a href="/profile"><input type="button" value="View/Edit Profile"></a>
<a href="/cart"><input type=button value='View Cart'></a>
<a href="/logout"><input type=button id="logout" value='Logout'></a>
<br>
<form class="form" autocomplete="off" spellcheck="false" action="/results" method="POST">
    <label for="name">Search:</label>
    <input type="text" class="form-control" autofocus="autofocus" name="search">
    <input type="submit" value="Search!" />
</form>

<script>
    function removeJWT() {
        if ("jwt" in localStorage) {
            localStorage.removeItem("jwt")
            window.location.replace("http://localhost:5000/logout");
        }
    }
    let login = document.querySelector("#logout")
    let err = 0
    login.addEventListener("click", (e) => {
        removeJWT();
    })
</script>
{% endblock %}