{% extends 'layout.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-home fa-lg"></span>
                            Home</a></li>
                    <li class="nav-item dropdown"><a class=" nav-link dropdown-toggle" role="button"
                            data-toggle="dropdown" href="profile"><span class="fa fa-user fa-lg"></span>
                            Profile</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/favourites">Favourites</a>
                            <a class="dropdown-item" href="/history">Purchase History</a>
                            <a class="dropdown-item" href="/tokens">Tokens</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/cart"><span class="fa fa-list fa-lg"></span>
                            Cart</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/logout"><span class="fa fa-sign-out fa-lg"></span>
                            Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>C</h3>
                <hr>
            </div>
        </div>
    </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Welcome {{ user.name }}!</h2>
                <!-- <h2>{{text}}</h2> -->
                <!-- <br> -->
                <!-- <a href="/profile"><input type="button" value="View/Edit Profile"></a>
            <a href="/cart"><input type=button value='View Cart'></a>
            <a href="/logout"><input type=button value='Logout'></a> -->
                <!-- <br> -->
            </div>
            <div class="col-12">
                <form class="form-inline" autocomplete="off" spellcheck="false" action="/results" method="POST">
                    <div class="form-group ">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Product"
                            aria-label="Search">
                        <input type="submit" class="btn btn-primary" value="Search!" />
                    </div>
                </form>

                <!-- <form class="form" autocomplete="off" spellcheck="false" action="/results" method="POST"> -->
                <!-- <label for="name">Search:</label> -->
                <!-- <input type="text" class="form-control" autofocus="autofocus" name="search"> -->
                <!-- <input type="submit" value="Search!" />
                </form> -->
            </div>
        </div>
    </div>
</body>
{% endblock %}