{% extends 'layout.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <h2>Welcome! </h2>

    <p>{{ text }}</p>

    <form action="/login" method="POST">
        <label>Email:</label><br>
        <input type="text" id="email" name="email" placeholder="Enter your email"><br>
        <label>Password</label><br>
        <input type="password" id="password" name="password" placeholder="Enter your password"><br>
        <input type="submit" value="Login">
    </form>
    <a href="/register"><input type="button" value="Create an account"></a>
{% endblock %}