{% extends 'layout.html' %}

{% block head %}
<title>Payment</title>
<script type=text/javascript>
    var total = "{{total}}";
    function PassValue() {
        let price = String(total)
        let check_price = { total_price:price }
        console.log(check_price);
        fetch('http://localhost:5000/deduct', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(check_price),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            if (data.msg == 'failed')
            {
                alert("Insufficient funds, please click OK and we will redirect you to the token page!")
                window.location.replace("http://localhost:5000/tokens");
            }
            else if (data.msg == 'success')
            {
                window.location.replace("http://localhost:5000/receipt");
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>
{% endblock %}

{% block body %}
<nav class="navbar navbar-dark bg-primary navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/home"><span class="fa fa-home fa-lg"></span>
                        Home</a></li>
                <li class="nav-item dropdown"><a class=" nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                        href="/profile"><span class="fa fa-user fa-lg"></span>
                        Profile</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/favourites">Favourites</a>
                        <a class="dropdown-item" href="/history">Purchase History</a>
                        <a class="dropdown-item" href="/tokens">Tokens</a>
                    </div>
                </li>
                <li class="nav-item active"><a class="nav-link" href="/cart"><span class="fa fa-list fa-lg"></span>
                        Cart</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/logout"><span class="fa fa-sign-out fa-lg"></span>
                        Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>C</h3>
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
            <li class="breadcrumb-item active">Payment</li>
        </ol>
    </div>
    <h2>{{ user.name }}'s Payment Details</h2>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price (S$)</th>
            </tr>
        </thead>
        {% for row in range(product|length) %}
        <tr>
            <td class="c2">{{product[row]}}</td>
            <td class="c3">{{quantity[row]}}</td>
            <td class="c3">{{cost[row]}}</td>
        </tr>
        {% endfor %}
        <tr class="table-danger">
            <td colspan="2" class="c2">Total</td>
            <td class="c3">{{total}}</td>
        </tr>
    </table>
</div>

<button onclick='PassValue();' class='btn btn-default'>Pay</button>
{% endblock %}