{% extends 'layout.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-dark bg-primary navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/home"><span class="fa fa-home fa-lg"></span>
                        Home</a></li>
                <li class="nav-item dropdown active"><a class=" nav-link dropdown-toggle" role="button"
                        data-toggle="dropdown" href="/profile"><span class="fa fa-user fa-lg"></span>
                        Profile</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/favourites">Favourites</a>
                        <a class="dropdown-item" href="/history">Purchase History</a>
                        <a class="dropdown-item" href="/tokens">Tokens</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/cart"><span class="fa fa-list fa-lg"></span>
                        Cart</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="form-inline" autocomplete="off" spellcheck="false" action="/home" method="POST">
                        <input type="text" class="form-control mr-2" placeholder="Search Product" name="search">
                    </form>
                </li>
                <li class="nav-item"><a class="nav-link" href="/logout"><span class="fa fa-sign-out fa-lg"></span>
                        Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>C</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </div>
    <h2>{{ user.name }}'s Account</h2>
    <a href="/favourites"><input class="btn btn-secondary" type="button" value="Favourites"></a>
    <a href="/history"><input type="button" class="btn btn-secondary" value="Purchase History"></a>
    <a href="/tokens"><input type="button" class="btn btn-secondary" value="Tokens"></a>
    <h3><strong>User Info</strong></h3>
    <form class="form" autocomplete="off" spellcheck="false" action="/profile" method="POST">
        <div class="form-group">
            <label for="name">Name:</label><br>
            <input type="text" class="form-control" autofocus="autofocus" name="name" value="{{ user.name }}" required>
        </div>
        <div class="form-group">
            <label for="name">Email:</label><br>
            <input type="text" class="form-control" autofocus="autofocus" name="email" value="{{ user.email }}"
                required>
        </div>
        {% if user_info.age == None or user_info.age == "" %}
        <div class="form-group">
            <label for="name">Age:</label><br>
            <input type="text" class="form-control" autofocus="autofocus" name="age" placeholder="Enter your age">
        </div>
        {% else %}
        <div class="form-group">
            <label for="name">Age:</label><br>
            <input type="text" class="form-control" autofocus="autofocus" name="age" value="{{ user_info.age }}">
        </div>
        {% endif %}

        {% if user_info.address == None or user_info.address == "" %}
        <div class="form-group">
            <label for="name">Address:</label><br>
            <input type="text" class="form-control" autofocus="autofocus" name="address"
                placeholder="Enter your address">
        </div>
        {% else %}
        <div class="form-group">
            <label for="name">Address:</label><br>
            <input type="text" class="form-control" autofocus="autofocus" name="address"
                value="{{ user_info.address }}">
        </div>
        {% endif %}

        {% if user_info.mobile == None or user_info.mobile == "" %}
        <div class="form-group">
            <label for="name">Mobile:</label><br>
            <input type="text" class="form-control" autofocus="autofocus" name="mobile"
                placeholder="Enter your phone number">
        </div>
        {% else %}
        <div class="form-group">
            <label for="name">Mobile:</label><br>
            <input type="text" class="form-control" autofocus="autofocus" name="mobile" value="{{ user_info.mobile }}">
        </div>
        {% endif %}

        <div class="form-group">
            <input class="btn btn-primary btn-block" type="submit" value="Save!" />
        </div>
        <a href="/change_password" type='button'>Change Password</a>
    </form>
    <h4>{{text}}</h4>
</div>
{% endblock %}