{% extends 'layout.html' %}

{% block head %}
<title>Tokens</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-dark bg-primary navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/home"><span class="fa fa-home fa-lg"></span>
                        Home</a></li>
                <li class="nav-item "><a class=" nav-link" href="/profile"><span class="fa fa-info fa-lg"></span>
                        Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="/cart"><span class="fa fa-list fa-lg"></span>
                        Cart</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/logout"><span class="fa fa-address-card fa-lg"></span>
                        Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>C</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <h2>{{ user.name }}'s Tokens</h2>
    <h3><strong>Token Info</strong></h3>
    <br>
    <h4>Token Balance: {{user_info.token}}</h4>
    <br>
    <h3><strong>Top-up Token</strong></h3>
    <form name='myform' action="" method="POST" onsubmit=''>
        <input type="radio" name="amount" value="10" checked>
        <label for="name">10 tokens</label><br>
        <input type="radio" name="amount" value="20">
        <label for="name">20 tokens</label><br>
        <input type="radio" name="amount" value="30">
        <label for="name">30 tokens</label><br>
        <input type="radio" name="amount" value="40">
        <label for="name">40 tokens</label><br>
        <input type="radio" name="amount" value="50">
        <label for="name">50 tokens</label><br>
        <input type="radio" name="amount" value=other> <label for="name">Other amount: </label><input type='text'
            name='other'><br>
        <input class="btn btn-primary" type="submit" value="Top up!" />
    </form>
    <h4>{{text}}</h4>
</div>

<!-- <h2>{{ user.name }}'s Tokens</h2>
<br>
<a href="/home"><input type="button" value="Return Home"></a>
<a href="/profile"><input type="button" value="Profile"></a>
<a href="/favourites"><input type="button" value="Favourites"></a>
<a href="/history"><input type="button" value="Purchase History"></a>
<a href="/logout"><input type="button" value="Logout"></a>
<br>
<h3><strong>Token Info</strong></h3>
<br>
<h4>Token Balance: {{user_info.token}}</h4>
<br>
<h3><strong>Top-up Token</strong></h3>
<form name='myform' action="" method="POST" onsubmit=''>
    <input type="radio" name="amount" value="10" checked>
    <label for="name">10 tokens</label><br>
    <input type="radio" name="amount" value="20">
    <label for="name">20 tokens</label><br>
    <input type="radio" name="amount" value="30">
    <label for="name">30 tokens</label><br>
    <input type="radio" name="amount" value="40">
    <label for="name">40 tokens</label><br>
    <input type="radio" name="amount" value="50">
    <label for="name">50 tokens</label><br>
    <input type="radio" name="amount" value=other> <label for="name">Other amount: </label><input type='text'
        name='other'><br>
    <input type="submit" value="Top up!" />
</form>
<h4>{{text}}</h4> -->
{% endblock %}