{% extends 'layout.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}
    <h2>{{ user.name }}'s Account</h2>
    <br>
    <a href="/home"><input type="button" value="Return Home"></a>
    <a href="/favourites"><input type="button" value="Favourites"></a>
    <a href="/history"><input type="button" value="Purchase History"></a>
    <a href="/tokens"><input type="button" value="Tokens"></a>
    <a href="/logout"><input type="button" value="Logout"></a>
    <br>
    <h3><strong>User Info</strong></h3>
    <form class="form" autocomplete="off" spellcheck="false" action="/profile" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" class="form-control" autofocus="autofocus" name="name" value="{{ user.name }}" required><br>
        <label for="name">Email:</label><br>
        <input type="text" class="form-control" autofocus="autofocus" name="email" value="{{ user.email }}" required><br>
        <label for="name">Password:</label><br>
        <input type="text" class="form-control" autofocus="autofocus" name="password" value="{{ user.password }}" required><br>
        <label for="name">Age:</label><br>
        <input type="text" class="form-control" autofocus="autofocus" name="age" value="{{ user_info.age }}"><br>
        <label for="name">Address:</label><br>
        <input type="text" class="form-control" autofocus="autofocus" name="address" value="{{ user_info.address }}"><br>
        <label for="name">Mobile:</label><br>
        <input type="text" class="form-control" autofocus="autofocus" name="mobile" value="{{ user_info.mobile }}"><br>
        <br>
        <input type="submit" value="Save!"/>
    </form>
    <h4>{{text}}</h4>
{% endblock %}